.photo{
    width: 25%;
}
.photo:hover{
    width: 25vw;
    transform: translateY(-5vh);
}
.div2 .elementBas{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.professionel{
    display: flex;
    justify-content: space-between;
    padding-top: 5vh;
    font-weight: bold;
    transform: translateY(-7vh);
}

.scolaire{
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
    font-weight: bold;
    transform: translateY(-5vh);
}

.t2{
    transform: translateY(-4vh);
    color: #1E1149;
}
.logos{
    display: flex;
    justify-content: space-around;
    transform: translateY(10vh);
}
.logoTechno{
    width: 25%;
}

.pourcent{
    display: flex;
    justify-content: space-between;
    transform: translateY(17vh);
}
@media (orientation: portrait) and (max-device-width: 780px){
    .div2 .elementBas p{
        font-size: 2vh;
    }
    .div1{
        width: 100%;
    }
    .logos{
        flex-wrap: wrap;
        transform: translateY(-3vh);
    }
    .logoTechno{
        width: 20%;
        padding: 0.5vh;
        margin: 0.5vh;
    }
}
@media (orientation: landscape) and (max-device-width : 780px){
    .logos{
        display: flex;
        justify-content: space-around;
        transform: translateY(10vh);
    }
    .logoTechno{
        width: 35%;
    }

}