
.div1 .elementBas{
    display: flex;
    flex-direction: row;
}
.div1Gauche{
    width: 40%;
    flex: 40%;
}
.div1Droite{
    width: 40%;
    flex: 40%;
}
.logoEcole{
    width: 20%;
}
.div2 img{
    width: 24%;
    padding: 1vh 2vw;
}


@media screen and (max-device-width: 781px){
    .div1 .elementBas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 2vh;
    }
    .div1Gauche{
        justify-content: center;
    }
    .div1Droite{
        justify-content: center;
        transform: translateX(-30%);
    }
    .logoEcole{
        width: 60%;
    }
    .div2 .elementBas{
        display: flex;
        flex-direction: column;
    }
    .div2 .elementBas img{
        width: 42%;
        height: 25%;
        transform: translateX(-1.5vw);
    }
}
@media (orientation: landscape) and (max-device-width : 812px){
    .div1 .elementBas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 2vh;
    }

    .logoEcole{
        width: 30%;
    }
    .div1Droite{
        transform: translateX(-1%);
    }
    .div2 .elementBas{
        display: flex;
        flex-direction: row;
    }
    .div2 .elementBas img{
        width: 30%;
        height: 70%;
        transform: translateX(-1.5vw);
    }



}